<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="row">
      <div class="column-small-100 column-medium-66">
        <div id="schools-map" class="map"></div>
      </div>

      <div class="column-small-100 column-medium-33">
        <div class="school-details">
          {{^selectedSchool}}
            <div class="text-center"><em>Click or tap on school in the map or on the chart to see details about that school.</em></div>
          {{/selectedSchool}}

          {{#selectedSchool}}
            <div class="component-label">{{ properties.name }}</div>
            <div class="space-bottom small">
              {{ properties.district_name }} school district
            </div>

            <div class="xlarge">{{ f.percent(properties.remMean, 0) }}</div>
            <div class="details-label">Percent of enrollees that required development education (7-year mean)</div>

            <div><em class="small"></em></div>
            <div class="large">{{ f.percent(properties.grad_rate, 0) }}</div>
            <div class="details-label">4-year graduation rate</div>

            <div class="details-chart-container">
              <div class="chart details-chart" decorator="schoolChart:{{ this }}"></div>
              <div class="details-label">Percent of enrollees that required development education over time</div>
            </div>

          {{/selectedSchool}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column-small-100">
        <div class="schools-chart chart"></div>
      </div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-high-school-remedial-analysis" target="_blank">Github</a>.</p>

        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>

    </div>
  </div>
</div>
