<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="row">
      <div class="column-small-100 column-medium-66">
        <div id="schools-map" class="map"></div>
      </div>

      <div class="column-small-100 column-medium-33">
        {{^selectedSchool}}
          <div class="text-center"><em>Click or tap on school in the map or on the chart to see details about that school.</em></div>
        {{/selectedSchool}}

        {{#selectedSchool}}
          <div class="component-label">{{ properties.name }}</div>

          <div><em class="small">Percent of enrollees that required development education (7-year mean)</em></div>
          <div class="xlarge space-bottom">{{ f.percent(properties.remMean, 0) }}</div>

          <div><em class="small">Graduation rate</em></div>
          <div class="large space-bottom">{{ f.percent(properties.grad_rate, 0) }}</div>

          <div class="small">
            {{ properties.district_name }} school district.<br>
            {{ properties.address }}
          </div>
        {{/selectedSchool}}
      </div>
    </div>

    <div class="row">
      <div class="column-small-100">
        <div class="schools-chart chart"></div>
      </div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-high-school-remedial-analysis" target="_blank">Github</a>.</p>

        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>

    </div>
  </div>
</div>
