/**
 * Main styles for: minnpost-high-school-remedial-analysis
 */


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-high-school-remedial-analysis-container {

  .application-container {
    padding-top: 3em;
  }

  .space-bottom {
    margin-bottom: 1em;
  }

  .schools-chart {
    height: 12em;
  }

  #schools-map {
    height: 35em;
  }

  .school-details {
    padding-top: 2em;

    .component-label {
      margin-bottom: 0;
    }

    .school-district {
      line-height: 1.25em;
    }

    .details-label {
      margin-bottom: 1em;
      font-size: 0.85em;
      font-style: italic;
      line-height: 1.15em;
      color: $color-gray;
    }

    .details-chart-container {
      padding-top: 0.5em;

      .details-chart {
        height: 8em;
        margin: 0;
      }
    }
  }



  // Default responsive points
  // $responsive-points: (
  //   ("all", 0px),
  //   ("small", 420px),
  //   ("medium", 640px),
  //   ("large", 960px),
  //   ("xlarge", 1200px)
  // ) !default;

  // Medium breakpoint
  @media screen and (max-width: nth(nth($responsive-points, 3), 2)) {

    .school-details {
      padding-top: 2em;
      margin-bottom: 2em;
    }
  }
}
